body {
	font-family: Ubuntu, sans-serif;
}

/* code titre principal */

h1 {
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	min-width: 500px;
	text-align: center;
}
span {
	font-size: 30pt;
	font-weight: bolder;
	font-variant: small-caps;
	width: 150px;
	height: 40px; 
	border: 10px double grey;
	padding: 10px;
	text-align: center;
}

/* fin */

/* code titre de position: partie */

.titre {
	font-size: 20pt;
	font-weight: bold;
	font-variant: small-caps;
	background-color: grey;
	text-align: center;
}

/* fin */

/* code citation */

.quote {
	padding: 10px;
	margin: 2px;
	border: 10px dotted grey;
	background-color: orange;
	background-clip: content-box;
	color: green;
	text-align: center;
}
#auteur {
	text-align: right;
	padding-right: 15px
}

/* fin */

/* style listes */

ul {
	list-style-type: circle;
}

/* fin */