/*police*/

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body {
	font-family: font-family: 'Titillium Web', sans-serif;
	background-color: black;
	color: rgb(229,177,58);
}

/*style du titre*/

h1 {
	font-size: 80pt;
	text-align: center;
	display: block;
	position: relative;
	margin-top: 20%;
}

a {
	cursor: pointer;
	text-decoration: none;
	color:rgb(229,177,58);
}

a:hover {
	color: blue;
	background-color: rgb(229,177,58);
}